* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Tratar arquivos do ClickOnce como binarios para preservar hashes exatos
*.config binary
*.manifest binary
*.application binary
*.exe binary
*.dll binary
*.db binary
*.ico binary
*.png binary
*.pdf binary
