<FilesMatch "\.(config|manifest|application)$">
    Header set Content-Type "application/octet-stream"
    SetOutputFilter NONE
    # Impede cache pelo Cloudflare e proxies intermediarios
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
    Header set Cloudflare-CDN-Cache-Control "no-store"
</FilesMatch>
